@CHARSET "UTF-8";

.score11-comment-latest .mini-preview {
	width: 102px;
	float: left;
	text-align: center;
	background-color: #006;
	border: 1px solid #039;
}

.score11-comment-latest .mini-preview img {
	border: 1px solid #fff;
}

.score11-comment-latest .mini-preview .cast {
	font-size: 10px;
}

.score11-comment-latest .innerbox {
	float: right;
	max-width: 390px;
}

/*		Tablet Layout Portrait 768px.       */
@media only screen and (max-width: 944px) {
	.score11-comment-latest .innerbox {
		max-width: 350px;
	}
}

/*		Mobile Layout Portrait 320px.       */
@media only screen and (max-width: 400px) {
	.score11-comment-latest .mini-preview {
		display: none;
	}
}