@CHARSET "UTF-8";

body {
	background-color: #000;
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.score11-separator {
	display: block;
	clear: both;
}

.score11-header p {
	margin: 0;
}

.score11-header .logo {
	height: 57px;
	background-image: url(../img/header-bg.gif);
}

.score11-header .logo .left {
	width: 176px;
	float: left;
}

.score11-header .logo .right {
	height: 57px;
	margin-left: 176px;
	padding-top: 21px;
	background-image: url(../img/logo-right.gif);
	background-repeat: no-repeat;
}

.score11-celluloid {
	height: 19px;
	background-image: url(../img/celluloid.gif);
	background-repeat: repeat-x;
}

.score11-footer {
	clear: both;
}

.score11-copyright {
	font-size: 11px;
	text-align: center;
	padding-top: 15px;
}

.score11-content {
	padding: 0 10px;
	float: left;
	width: 72%;
}

.score11-navigation {
	width: 161px;
	background: url(../img/navigation-bg.gif);
	float: left;
}

.score11-sidebar {
	width: 165px;
	background: url(../img/sidebar-bg.gif);
	float: right;
}

/*		Tablet Layout Landscape 1024px.       */

@media only screen and (max-width: 1280px) {
	.score11-content {
		width: 60%;
	}
}

/*		Tablet Layout Portrait 768px.       */

@media only screen and (max-width: 944px) {
	.score11-sidebar {
		display: none;
	}
}

/*		Mobile Layout Landscape 480px.       */
@media only screen and (max-width: 480px) {
	.score11-navigation {
		display: none;
	}
	
	.score11-sidebar {
		display: none;
	}
	
	.score11-content {
		width: 100%;
	}
}

/*		Mobile Layout Portrait 320px.       */
@media only screen and (max-width: 400px) {
	.score11-header .subtitle {
		display: none;
	}
	
	.score11-copyright .extended-copyright {
		display: none;
	}
	
	.score11-copyright .domains {
		display: none;
	}
}