@CHARSET "UTF-8";

.score11-movie {
	background-color: #000033;
	border: 1px solid #039;
	padding: 5px;
}

.score11-movie-image {
	float: right;
	border: 1px solid #666666;
}

.score11-movie-ratings, .score11-movie-info {
	margin-top: 20px;
}

.score11-movie-ratings {
	float: right;
	width: 40%;
}

.score11-movie-rating-avg {
	font-size: 30px;
	font-weight: bold;
	background-color: #039;
}

.score11-rating-maximum {
	font-size: 12px;
}

.score11-movie-info {
	width: 50%;
}

.score11-movie-info .basic-info {
	text-align: center;
}

.score11-movie-info .category {
	font-weight: bold;
	vertical-align: top;
	padding-right: 10px;
}

.score11-movie-info .cast {
	
}

.score11-movie-info .cast .name {
	
}

.score11-movie-info p {
	padding: 0;
}

.score11-movie-info .cast .role {
	font-style: italic;
}

.score11-movie-comments {
	margin-top: 20px;
}

.score11-movie-comment .author, .score11-movie-comment .text {
	padding: 3px;
}

.score11-movie-comment .author {
	height: 40px;
	background-color: #003399;
	height: 30px;
}

.score11-movie-comment .author .gravatar {
	float: left;
	margin-right: 5px;
}

.score11-movie-comment .text {
	background-color: #000066;
}

/*		Tablet Layout Portrait 768px.       */
@media only screen and (max-width: 944px) {
	.score11-movie {
		width: 720px;
	}
}

/*		Phone Landscape						*/
@media only screen and (max-width: 480px) {
	.score11-movie {
		width: 440px;
	}
	
	.score11-movie-info {
		width: auto;
		border-style: solid none;
		border-width: 1px;
		border-color: #039;
	}
	
	.score11-movie-info table {
		display: none;
	}
	
	.score11-movie-ratings {
		float: none;
		width: auto;
		text-align: center;
	}
	
	.score11-movie-ratings, .score11-movie-info, .score11-movie-comments {
		margin-top: 10px;
	}
}

/*		Phone Normal						*/
@media only screen and (max-width: 400px) {
	.score11-movie {
		width: 290px
	}
	
	.score11-movie-info .cast .role {
		display: none;
	}
}