@CHARSET "UTF-8";

.score11-movie-imagelist .movietitle .time {
	font-size: 10px;
	line-height: 10px;
	width: 60px;
}

.score11-movie-imagelist a {
	display: block;
	width: 100px;
	height: 120px;
	float: left;
	margin: 1px;
	padding: 0;
	text-align: center;
	padding-top: 30px;
	overflow: hidden;
}

.score11-movie-imagelist .mini-preview {
	margin: 0 5px 5px 0;
}

@media only screen and (max-width: 400px) {
	.score11-movie-no6, .score11-movie-no7 {
		display: none !important;
	}
	
	.score11-movie-imagelist .mini-preview {
		margin: 5px 5px 0 0;
		padding: 8px 20px;
	}

	.score11-movie-imagelist a {
		margin: 0px;
	}
}
