@CHARSET "UTF-8";

.score11-movie-imagelist .movietitle .time {
	font-size: 10px;
	line-height: 10px;
	width: 60px;
}

.score11-movie-imagelist a {
	display: block;
	width: 100px;
	height: 120px;
	float: left;
	margin: 1px;
	padding: 0;
	text-align: center;
	padding-top: 30px;
	overflow: hidden;
}

.score11-movie-imagelist a span {
	background: rgba(0, 0, 0, .8);
	color: white;
	display: none;
	font-size: 13px;
	text-decoration: none;
}

.score11-movie-imagelist a:hover {
	text-decoration: none;
}

.score11-movie-imagelist a:hover span {
	display: block;
	text-decoration: none;
}
